<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <p><a href="{{post .talk}}">{{post.title}}</a> ({{post.venue}}).
      {% if post.more %}
       {{post.more}}.
      {% endif %}
      <br />
      <i>{{ post.date | date: '%B %d, %Y' }}</i>.
    </p>
  </article>
</div>
